[defaults]
# Optional inventory file for laptop etc
inventory                   = hosts
#remote_user                 = ec2-user
retry_files_enabled         = false
roles_path    = /home/lokesv17-in.ibm.com/ansible-lokesh/roles
# Optional ssh configuration if not using three-tier-app config
[ssh_connection] 
ssh_args                    = -F ./ssh.cfg
# ssh_args                    = -F ./ssh-laptop.cfg
